<section class="sponsors mb-10">
    <div class="flex justify-between text-right">
        <p class="text-lg">赞助商 🙏🏽</p>
<!-- 
        <details>
            <summary>想成为赞助商吗？</summary>
            <a href="https://twitter.com/hilmanski" 
            target="_blank"
            class="text-cebter text-gray-200 hover:text-gray-100 p-3 border border-dashed rounded-xl block mb-10"
            >
            向全世界的开发者展示您的产品。请在 Twitter @hilmanski 私信我
            </a>
        </details> -->
    </div>

    <!-- <p class="text-lg">赞助商 🫶</p> -->
 

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
        <a href="https://gongjulian.com/?utm_source=AAFREE" target="_blank">
            <img 
            src="/banner/gongjulian.svg" 
            alt="工具链 横幅" 
            class="h-[155px] w-full rounded-lg hover:animate-pulse" 
            height="155"
            />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm"><b>工具链</b> - 开发者实用在线工具</p>
        </a>
        <a href="https://maxwiki.com/?utm_source=AAFREE" target="_blank">
            <img 
                src="/banner/maxwiki.svg" 
                alt="MaxWiki 横幅" 
                class="h-[155px] w-full rounded-lg hover:animate-pulse" 
                height="155"
                />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm"><b>MaxWiki</b> - 快速、离线且免费的开发者文档浏览器</p>
        </a>
        <!-- <a href="https://templated.io" target="_blank">
            <img 
                src="/banner/templatedio.webp" 
                alt="Websitevice 横幅" 
                class="h-[155px] w-full rounded-lg hover:animate-pulse" 
                height="155"
                />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm"><b>Templated</b> - 用于自动生成图像和 PDF 的 API</p>
        </a> -->
        <!-- <a href="https://www.aimlapi.com/?utm_source=freestuffdev" target="_blank" rel="sponsored">
            <img 
                src="/banner/aiml-api-banner.jpg" 
                alt="AI/ML API 横幅" 
                class="h-[155px] w-full rounded-lg hover:animate-pulse" 
                height="155"
                />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm">AI/ML API - 通过单个 API 访问 100 多个 AI 模型：您的全天候 AI 解决方案</p>
        </a>  -->
        <a href="/" target="_blank">
            <img src="/banner/add-your-product.webp" alt="Cloudflare" class="w-full rounded-lg hover:animate-pulse" />
            <p class="mt-3 pl-3 border-l border-l-gray-300  text-gray-200 text-sm">向全世界的开发者展示您的产品。请在 cjNmaW5kQGdtYWlsLmNvbQ== (邮箱) 私信我</p>
        </a>
    </div>
</section>



        

